<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.kimjinwoo.marondalgram.post.comment.dao.CommentDAO">
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO
 			`comment`
 		(
 			`userId`
 			, `userName`
 			, `postId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId}
 			, #{userName}
 			, #{postId}
 			, #{content}
 			, now()
 			, now()
 		)
 		
 	</insert>
 
 	<select id="selectComment" parameterType="int" resultType="com.kimjinwoo.marondalgram.post.comment.model.Comment">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `postId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`comment`
 		WHERE
 			`postId` = #{postId}
 		ORDER BY `id` DESC
 	</select>
 	
 </mapper>